# ===== OS =====
.DS_Store
Thumbs.db

# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/
# env files anywhere
.env
.env.*
**/.env
**/.env.*
*.log

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Node / Frontend =====
node_modules/
dist/
build/
.vite/
*.local
recipe_data/
# ===== IDE =====
.vscode/
.idea/

# ===== Secrets / Keys =====
*.pem
*.key
*.crt